* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ff5400;
  --secondary-color: #424247;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 7px 2px;
}

nav > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

nav > div > img {
  height: 50px;
  width: 50px;
}

nav > div > h1 {
  font-weight: 700;
  font-size: 25px;
}

nav > div > h1 > span {
  color: var(--primary-color);
}

nav > ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav > ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav > ul li a:hover {
  color: var(--primary-color);
}

nav > ul > li:first-child a:first-child {
  color: var(--primary-color);
}
